.menu__caption {
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    z-index: 1;
    padding: 25px;
    margin: 0;
    text-transform: uppercase;

	margin: auto;
	position: absolute;
	top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-45%);
    -ms-transform: translate(-50%,-45%);
        transform: translate(-50%,-45%);

        background-color: rgb(245,245,245);
        color: rgb(40, 40, 40);
        opacity: .6;
        border-radius: 10px;
}

@media screen and (max-width: 880px) {
    .menu__caption {
        font-size: 18px;
    }
}


.menu__caption {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    
    
    }

.menu__caption {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    cursor: pointer;
}
