.menu__list {
    width: 100%;
    min-width: 320px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;


    justify-content: center;

}

@media screen and (max-width: 420px) {
    .menu__list {
        column-gap: 20px;
        row-gap: 20px;
    }
}