.apply {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    min-width: 320px;
    margin: 100px auto;
}


.apply__input {

    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    
    color: #000000;
    background-color: rgb(245,245,245);
    outline: none;
    border: none;
    padding: 13px 0 13px;
    
    border-bottom: 1px solid rgb(204, 204, 204);

    }
    
    .apply__input:nth-of-type(1) {
        padding-top: 0; 
    }
    

    
    
    @media screen and (max-width: 880px) {
        .apply__input {
            font-size: 14px;
            line-height: 17px;
        }
    }

    .apply__input_message {
        margin-top: 10px;
        height: 50px;

    }

    
.apply__input_submit {
    width: 358px;
    height: 50px;
    background-color: #F26767;
    color: white;
    border: 1px solid rgb(40, 40, 40);
    outline: none;
    margin-top: 48px;
    border-radius: 10px;
    border: none;
    outline: none;
    
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    justify-self: center;

}


@media screen and (max-width: 880px) {
    .apply__input_submit {
        max-width: 238px;
    }
}

.apply__input_submit:hover {
    opacity: .6;
    cursor: pointer;
}

.apply__form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
    margin-top: 40px;

}

.iframe-map-apply {
    background-color: rgb(245,245,245);
    border: none;
margin: 0;    
width: 90vw;
height: 700px;

max-width: 1280px;
min-width: 320px;
}



.apply__caption {
    font-size: 40px;
    font-weight: 700;
    color: rgb(219, 206, 206);


    font-style: normal;

    text-align: center;
    margin: 0 0 0;
    padding: 0;
    
    }
    
    
    @media screen and (max-width: 880px) {
        .apply__caption {
            font-size: 18px;
            line-height: 22px;
        }
    }