.slider{
    position: relative;
    
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 320px;
}

