.slider__header {
	width: 50%;
	margin: auto;
	position: absolute;
	top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);

    text-align: center;
    align-self: center;
    flex-wrap: wrap;
    color:  white;
    -webkit-text-stroke: 1px #F26767;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;

}

@media screen and (max-width: 880px) {
    .slider__header {
        font-size: 25px;
    }
}

@media screen and (max-width: 640px) {
    .slider__header {
        font-size: 20px;
    }
}